# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore build, dist and netbeans privat project files
build/
dist/
nbproject/private/
.DS_Store


# Ignore Eclipse
.project
.classpath
/bin/
/bin1/
.Rhistory
.Rproj.user

analysis/plot_analysis/server.R

analysis/plot_analysis/ui.R

analysis/config.R

analysis/report_marc.html

analysis/report_marc.nb.html

analysis/report_marc.Rmd
